{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {% set name = 'Bucket' %}

    <h2>Qui Sommes nous ?</h2>

    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Nulla elit dictum parturient elementum aliquam ullamcorper.
        Pretium tristique lacinia netus penatibus eget tincidunt mi. Maximus rhoncus est scelerisque fringilla non
        volutpat tortor dapibus. Ut curabitur velit arcu sagittis est felis! Laoreet cras fames; bibendum sociosqu
        ultrices at. Pulvinar interdum accumsan a nulla sollicitudin.

        Suspendisse himenaeos gravida cubilia eleifend rutrum eros magna. Volutpat cubilia nascetur potenti risus tempus
        suscipit tortor. Dolor scelerisque quis non tempor augue. Montes pretium laoreet metus ligula ullamcorper eros
        inceptos. Ac taciti fames sed iaculis inceptos; nunc litora. Litora mi sed cras mauris urna nunc integer. Tellus
        commodo sit lacus class fringilla tincidunt mollis.</p>


{% endblock %}
