{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    {% set name = 'WishLand' %}

    <h2 class="textA">Bienvenue sur la page de {{ name }}</h2>

    <p class="textA">{% if app.user %}
         {{ app.user.email }}
    {% else %}
        Coucou invité
        {% endif %}</p>


{% endblock %}
